<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Log In</ion-title>
      </ion-toolbar>
    </ion-card-header>
  
    <ion-card-content>
      <form>
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>       
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="success" expand="block">Sign In</ion-button>
            <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
          </ion-col>
        </ion-row>
      </form>
      <div id="container">
        <p><a target="_self" rel="noopener noreferrer" href="register">Crear Cuenta</a></p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>





